*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: rgb(0,11,255);

}
/*menu icon*/
.btn-on-menu{
  background-color:rgba(0, 0, 0, 0.0)!important;
}
.btn-menu {
  position: fixed;
  padding: 0 10px;
  margin: 20px;
  border-radius: 5px;
  /* border: #fff 1px solid; */
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
/*menu*/
.menu{
  display: none;
  z-index: 0;
  position: fixed;
  /* top: 80px; */
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  height: calc(100vh - 80px);
  border: white 2px solid;
  /* border-radius: 0 5px 5px 0; */
}
.menu ul{
  margin-top: 80px;
  width: 100%;
}
.menu ul li{
  text-align:  center;
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3em;
  border-radius: 0;
}
/*img banner home*/
#home img{
  width: 100%;
}
/*sections*/
#about, #services, #blog{
  /* height: 100vh; */

}
/*About*/
#about{
  background-color: #999;
  color: #f00;
}

#about div center h1{
  font-size: 5em;
}



/*/ Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {


 }
 /* // Small devices (landscape phones, less than 768px) */
 @media screen and (max-width: 767.98px) {
    .menu{
      width: 100%;
    }
  }
