@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Pragati+Narrow');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Pragati Narrow', sans-serif;
}
nav{
  background-color: rgba(200, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  position: fixed;
  width: 100%;
}

.logo{

}
 .nav-link{
   border: black solid;
   display: flex;
 }
.nav-link li{
  border: blue solid;
  list-style: none;
}
.nav-link li a{
  border: green solid;
  text-decoration: none;
  letter-spacing: 5px;
}
.menu-icon{
  border: green solid;
  display: none;
}
@media screen and (max-width:576px) {
  .nav-link{
    display: block;
    /* flex-direction: column; */
    position: absolute;
    top: 70px;
    /* left: -100vw; */
    width: 100%;
    text-align: center;
    background: rgba(255, 0, 0, 0.5);
  }
  .nav-link li{
    /* width: 90%; */
  }
  .nav-link li a{
    width: 10vw;
  }
  .menu-icon{
    border: green solid;
    display: flex;
  }
}
